<html>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
	<script>
		var app = angular.module('myApp', []);
		app.controller('myController', function($scope){
			$scope.myCountry = "India";
			$scope.myName = "Amit";
		});
	</script>
<head>
	<title> Angular JS with Filters</title>
</head>
<style></style>

<body ng-app="myApp" ng-init="value = 'Welcome to my Angular JS Page'">
<h1 ng-bind="value"> </h1>
<div ng-controller="myController" >
<h1>{{myCountry +" " + myName}}</h1>

</div>
<p><input type ="text" ng-model="filterOut"></p>
<div ng-init="personalInfo=[{name:'Sunil',age:'33',country:'China'},{name:'Amit',age:'23',country:'India'},{name:'Sakshi',age:'43',country:'Nepal'},{name:'Alok',age:'43',country:'Bhutan'}]">
	<ul>
		<li ng-repeat="val in personalInfo | filter : filterOut">
			<h3> {{val.name | uppercase}} </h3>
			<h3> {{val.age + ',' + val.country}} </h3>
			
		</li>
	</ul>

</div>

<div>
	<p>Name : <input type="text" ng-model="name"></p>
	<h2 >Hello {{name}} !! </h2>
	<h3 ng-bind="name"></h3>
</div>

<div>
	The value of 5+10 is {{5+10}} </span>
</div>

</body>

</html>