<html>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
	<script>
		var app = angular.module('myApp', []);
		app.controller('myController', function($scope){
			$scope.emailVal = "amit@gmail.com";
			$scope.changeEmailValue = function(){
				if($scope.emailVal == 'amit@gmail.com'){
					$scope.emailVal = "angularjs@gmail.com";
				}else{
				    $scope.emailVal = "amit@gmail.com";
			    }
			}
		});
	</script>
<head>
	<title> Creating Angular Forms</title>
</head>
<style></style>

<body ng-app="myApp" ng-init="value = 'Welcome to my Angular JS Page'">
<form action="" method="get" accept-charset="utf-8" name="myFirstForm" ng-controller="myController">
	Enter your Email Address :  <input type="email" name="emailAddress" ng-model="emailVal">
	<span ng-show="myFirstForm.emailAddress.$error.email">Email is not valid</span>
    <input type="button" name="Click me" value="Click Me" ng-click="changeEmailValue()"></input>
</form>

</body>

</html>